<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.revenco.library">

    <application
        android:name=".HCIServiceApplication"
        android:allowBackup="true"
        android:icon="@mipmap/hci_service"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <service
            android:name=".HCIServiceAidlInterfaceImp"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.revenco.library.SERVICE_START_ACTION"/>
            </intent-filter>
        </service>
    </application>

</manifest>